<div class="row">
<div class="col-md-6">
<h1>
  <%= @product.name %>
  <p>
    <%= number_to_currency @product.price %>
  </p>
  <p>
    <%= image_tag @product.image, width: "30%" %>
  </p>
  
</h1>
</div>
<div class="col-md-6">

  <%= button_to 'Add to Cart', line_items_path(product_id: @product), class: "btn btn-primary" %>

</div>
</div>
<br>
<p>
  
  <%= link_to 'Back', products_path, class: "btn btn-danger" %>
</p>
